@import "../node_modules/bootstrap/scss/bootstrap";

$body-bg: #000;
$body-color: #111;
$primary: #00d90e !default;
// $primary: #0074d9;
$danger: #ff4136;

$theme-colors: (
	"primary": $primary,
	"danger": $danger,
);
