// Footer 

footer, footer a, footer p, .rights
  text-decoration: none
  color: #ffffffc7
  transition: 0.3s

footer
  display: flex
  flex-direction: column

  #logoSpace
    display: flex
    margin: 40px
    flex-direction: row
    justify-content: space-around

    p
      display: inline-block

    a
      text-decoration: none

    .siteButton
      width: 190px
      height: 40px
      border: 1px solid  #ffffff72
      text-transform: uppercase
      padding: 10px
      transition: .3s ease-out
      cursor: pointer
      
      &.btnDigitalMenu
        border-right: none
        &:hover
          transform: translateX(-10px)
          cursor: pointer

      &.btnAdmin
        border-left: none
        &:hover
          transform: translateX(+10px)
          cursor: pointer
        

  .logoMain 
    display: flex

  a:hover
    color: #fff
    text-decoration: underline
    cursor: pointer

  .rights p
    color: #ffffffbb !important

@media (min-width:801px)
  #logoSpace
    width: 100%

@media (max-width:800px) 

  .siteButton,#logoSpace a
    display: none

  Footer, footer a, footer p 
    font-size: 12px
