/*  
INDEX:

1. Global Elements
2. Header
3. Sections
4. 
5. Buttons

. Media Queires

*/

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #c1b196;
  background: url("bg-menudigital.png") center center;
  background-size: cover;
  height: 100vh;
}

html {
  overflow-x: hidden;
}

header {
  background: #6d151c;
}

#mainTotal {
  width: 100%;
  display: flex; justify-content: center;
}
#mainContent {width: 70%; overflow-x: hidden;}

section {
  margin: auto;
  text-align: center;
}

aside {
  width: 10%; overflow-x: hidden;
  position: static; text-align: center; margin-top: 30px;
}

@media screen and (max-width: 1400px) {
  aside {
    width: 0%;
    display: none;
  }}

.expoLogo {
  width: 150px; opacity: 40%; display: none;
}

footer, footer a {
  text-align: center;
  font-family: Catamaran;
  color: #fff;
}


/* === TEXTOS ======================================================= */

p {font-family: Catamaran;} 
#welcomeSpace p {font-family: Arial, Helvetica, sans-serif; text-align: left;}
#welcomeSpace h2 {font-family: Delinda;}
#socialLinks p {font-family: Arial, Helvetica, sans-serif;}


a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
} a:hover {
  opacity: 0.7;
}

/* === FONTES ======================================================= */

@font-face {
  font-family: Catamaran;
  src: local(Catamaran), url('fonts/Catamaran.ttf');
}

@font-face {
  font-family: Lora;
  src: local(Lora), url('fonts/Lora.ttf');
}

@font-face {
  font-family: Delinda Agatha; 
  src: url('fonts/Delinda-Agatha.eot');
  src: url('fonts/Delinda-Agatha.ttf');
  src: url('fonts/Delinda-Agatha.woff');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: Delinda; 
  src: url('fonts/Delinda-Agatha.ttf');
  src: url('fonts/Delinda-Agatha.eot');
  src: url('fonts/Delinda-Agatha.woff');
  font-weight: normal; font-style: normal;
}

/* === HEADER ======================================================= */

nav {
  display: flex; justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 9vh;
}

main {
  /* background-color: #c1b196;
  background: url("bg-menudigital.png") center center;
  background-size: cover;
  height: 100vh; */
  display: block;
}

.nav-list {
  list-style: none;
  display: flex; gap: 35px;
}

.nav-list li {
  letter-spacing: 3px;
  /* margin-left: 32px; */
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 50vh;
    background: #6d151c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    border-radius: 0px 0px 0px 15px;
    z-index: 1;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

#logo {
  width: 50px;
  height: 5%;
  position: relative;
  top: 3px;
}

#logoName {
  display: flex; flex-direction: row;
  align-items: center; text-align: center;
  gap: 20px;
}

.name {
  position: relative; top: 8px;
}

#logoName h2 {
  margin-left: 10px; color: #Fff;
  font-family: Delinda Agatha;
  font-family: Delinda;
  font-weight: lighter;
}

/* Sections: Welcome */ 

#welcomeSpace {
  display: flex;
  text-align: center;
  background-color: #ab92674a;
  border-radius: 15px;

  padding: 10px 25px 0px 25px;

  overflow-y: hidden;
}

#silvana {
  position: relative;
  top: 10px;
  height: 50vh;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
  max-height: 500px;
  height: 100%;
  scale: 140%; top: 50px;

  transition: 0.3s;
  filter: drop-shadow(1);
}

@media screen and (max-width:1400px) {
  #silvana {display: none;}
}

#silvanaBox {
  display: flex;
  align-items: end;
  justify-content: center;
  max-height: 300px;
}

#meet {
 transition: 0.3s;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

#meet h2 {
  text-align: left;
  font-weight: lighter;
  font-family: Delinda Agatha;
  font-size: 44pt;
  margin-top: 20px;
}

/* #meet p {
  text-align: left;
  letter-spacing: 0.9pt;
  line-height: 20pt;
} */

.button {
  margin-top: 20px;
  font-size: 12pt;
  color: #fff;
  background-color: #6d151c;
  padding: 12px;
  margin-left: 10px;
  border-radius: 15px;
  border: none;

  cursor: pointer;
  transition: 0.3s;
} .button:hover {
  color: #ffffffd2;
  background-color: #450e12;

  scale: 105%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.139);
} .button:active {
  scale: 80%;
}

.buttonB {
  margin-top: 20px;
  font-size: 12pt;
  font-weight: bold;
  color: #450e12;
  background-color: #ab92671e;
  border: 2px solid #450e12;

  padding: 10px;
  border-radius: 15px;

  cursor: pointer;
  transition: 0.3s;
} .buttonB:hover {
  background-color: #71604334;

  scale: 105%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.139);
} .buttonB:active {
  scale: 80%;
}

#buttonsLine {
  display: flex;
  justify-content: end;
  position: relative;
  /* right: 25pt;*/
  bottom: 10pt; 
  text-align: right;
}


/* Sections: SocialLinks */ 

.socialLinks {
  display: flex;
  justify-content: space-around;
}

.socialLink {
  background-color: tomato;
  width: 25%;
  border-radius: 6px;
  padding: 5px;
  color: #fff;
  word-wrap: nowrap;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  transition: 0.3s;

  cursor: pointer;
  overflow: hidden;

  padding-top: 10px;
  padding-bottom: 10px;
} .socialLink:hover {
  scale: 110%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.139);
} .socialLink:active {
  scale: 80%;
}

#linkInstagram {background-image: linear-gradient(
  45deg,  
  #f09433 0%,
  #e6683c 25%,
  #dc2743 50%,
  #cc2366 75%,
  #bc1888 100%
);}
#linkWhatsApp {background-color: #11BB19;}
#linkPinterest {background-color: #af021c;}

#linkFacebookR {background-color: #1E4297;}
#linkLinkedinR {background-color: #0A66C2;}

#linkFacebook {background-color: #1E4297;}
#linkYT {background-color: #c40000;}
#linkLinkedin {background-color: #0A66C2;}

.icon {
  width: 20px;
  margin-right: 12px;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .socialLinks {justify-content: space-between;}
  .socialLink {width: 30%;}
}


@media screen and (min-width: 801px) {
  #linkLinkedinR {display: none;}
  #linkFacebookR {display: none;}

  #item3R {display: none;}

  .socialLink { display: flex;
    text-align: justify; justify-content: center;}
}

@media screen and (max-width: 800px) {
  #linkLinkedinR {display: block; display: flex;
  }
  #linkFacebookR {display: block; display: flex;
  }

  .socialLink {
    padding: 12px;
    width: 30px; height: 30px;

    border-radius: 250px;
  } .socialLink p {
    display: none;
  } .socialLink img {
    margin-left: 5px;
  }

  #containerInfo .infoColumn h2 {
    font-size: 14px;
  }

  #item3 {display: none;}
  #item3R {display: block;}

  /* ======================== */

  #linkFacebook {display: none;}
  #linkYT {display: none;}
  #linkLinkedin {display: none;}

  .icon {margin: 0px}
}



/* Buttons */

/* Sections: Info */ 

#infoSpace {
  width: 100%;
  background-color: #6d151c;
  padding-top: 20px;
  padding-bottom: 30px;
}

#infoSpace div {
  font-family: "catamaran";
  font-weight: lighter;
  font-size:small;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

#infoSpace div h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

#containerInfo {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#item1 {width: 33%; text-align: left;}
#item2 {width: 33%;}
#item3 {width: 33%;}
#item3R {width: 33%;}

.infoColumn {
  width: 33%;
}

#logoSpace {
  margin: 20px;
}

.logoMain {
  display: flex;
  width: 150px;
  max-width: 25%;
  margin: auto;
}

#lineHR {
  background: #ffffff72;
  height: 1px;
  width: 80%;
  margin: auto;
}

/* Media Queries, A22= width: 363px */

 /* PC - Full Screen */
@media screen and (min-width:1401px) {
  
  section {width: 90%;}

  p {font-size: 1.3vw;}
  nav li {font-size: 1vw;}
  #socialLinks p {font-size: 1vw;}
  #infoSpace p {font-size: 1.1vw;}

}

/* PC - 1400px */
@media screen and (min-width: 999px) and (max-width: 1400px) {
  
  section {width: 90%;}
  #mainContent {width:80%}


  p {font-size: 2vw;}
  nav li {font-size: 1.2vw;}
  #socialLinks p {font-size: 1.3vw;}
  #infoSpace p {font-size: 1.6vw;}

}

/* PC - 1000px */
@media screen and (min-width: 801px) and (max-width: 1000px) {
    
  section {width: 90%;}
  #mainContent {width:80%}


  p {font-size: 2.5vw;}
  nav li {font-size: 1vw;}
  #socialLinks p {font-size: 1.3vw;}
  #infoSpace p {font-size: 2vw;}

}

/* PC - 800px */
@media screen and (min-width: 500px) and (max-width: 800px) {
  
  section {width: 90%;}
  #mainContent {width:90%}

}

/* PC - 800px */

@media screen and (min-width: 320px) and (max-width: 500px) {

  section {width: 90%;}
  #mainContent {width:90%}

  #welcomeSpace h2 {font-size: 42px;
    font-family: Delinda Agatha;
    font-family: Delinda;
    font-weight: lighter;}

  footer, footer a {
    font-size: 12px;
  }
}


