/*  
INDEX:

1. Global Elements
2. Header
3. Sections
4. 
5. Buttons

. Media Queires

*/

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #c1b196;
  background: url("bg-menudigital.png") center center;
  background-size: cover;
  height: 100vh;
}

html {
  overflow-x: hidden;
}

header {
  background: #6d151c;
}

section {
  width: 60%;
  margin: auto;
  text-align: center;
}

footer {
  display: none;

  margin-top: 20px;
  text-align: center;
  color: rgb(45, 27, 13);
  font-size: 12px;
}

footer a {
  color: black;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
} a:hover {
  opacity: 0.7;
}

@font-face {
  font-family: catamaran;
  src: local(catamaran), url('assets/fonts/Catamaran.ttf');
}

@font-face {
  font-family: lora;
  src: local(lora), url('assets/fonts/Lora.ttf');
}

@font-face {
  font-family: Delinda Agatha; 
  src: local(Delinda Agatha), url('assets/fonts/Delinda Agatha.ttf');
}


/* Header */

#name {
  font-size: 16px;
  letter-spacing: 4px;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 8vh;
}

main {
  /* background-color: #c1b196;
  background: url("bg-menudigital.png") center center;
  background-size: cover;
  height: 100vh; */
  display: block;
}

section {
  width: 60%;
  margin: auto;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 50vh;
    background: #6d151c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    border-radius: 0px 0px 0px 15px;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

#logo {
  width: 5%;
  height: 5%;
  position: relative;
  top: 5px;
} #logo:hover {
  scale: 110%;
}

#logoName {
  display: flex;
  align-items: center;
}

/* Sections: Welcome */ 

#welcomeSpace {
  display: flex;
  text-align: center;
  background-color: #ab92674a;
  border-radius: 15px;

  padding: 10px 25px 0px 25px;

  /* padding: 25px; */

  overflow-y: hidden;
}

#silvana {
  position: relative;
  top: 10px;

  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
  max-height: 500px;
  min-width: none;
  min-height: none;

  height: 100%;
  scale: 100%;
  transition: 0.3s;
} #silvana:hover {
  scale: 120%;
  top: 30px;
  overflow-y: visible;
  /* margin-top: 10px; */
}

#silvanaBox {
  display: flex;
  align-items: end;
  justify-content: center;
  max-height: 380px;
}

#meet {
 transition: 0.3s;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

#meet h2 {
  text-align: left;
  font-weight: lighter;
  font-family: Delinda Agatha;
  font-size: 44pt;
  margin-top: 20px;
}

#meet p {
  text-align: left;
  letter-spacing: 0.9pt;
  line-height: 20pt;
}


/* Sections: SocialLinks */ 

.socialLinks {
  display: flex;
  justify-content: space-between;
}

.socialLink {
  background-color: tomato;
  width: 30%;
  border-radius: 6px;
  padding: 5px;
  color: #fff;
  word-wrap: nowrap;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  transition: 0.3s;

  cursor: pointer;
  overflow: hidden;

  padding-top: 10px;
  padding-bottom: 10px;
} .socialLink:hover {
  scale: 110%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.139);
}

#linkInstagram {background-image: linear-gradient(
  45deg,  
  #f09433 0%,
  #e6683c 25%,
  #dc2743 50%,
  #cc2366 75%,
  #bc1888 100%
);}
#linkWhatsApp {background-color: #11BB19;}
#linkPinterest {background-color: #af021c;}

#linkFacebookR {background-color: #1E4297;}
#linkLinkedinR {background-color: #0A66C2;}

#linkFacebook {background-color: #1E4297;}
#linkYT {background-color: #c40000;}
#linkLinkedin {background-color: #0A66C2;}

.icon {
  width: 20px;
  margin-right: 12px;
}

.socialLink p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Buttons */

.button {
  /* display: none; */

  margin-top: 20px;
  font-size: 12pt;
  color: #fff;
  background-color: #6d151c;
  padding: 12px;
  margin-left: 10px;
  border-radius: 15px;
  border: none;

  cursor: pointer;
  transition: 0.3s;
} .button:hover {
  color: #ffffffd2;
  background-color: #450e12;

  scale: 105%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.139);
}

.buttonB {
  /* display: none; */

  margin-top: 20px;
  font-size: 12pt;
  font-weight: bold;
  color: #450e12;
  background-color: #ab92671e;
  border: 2px solid #450e12;

  padding: 10px;
  border-radius: 15px;

  cursor: pointer;
  transition: 0.3s;
} .buttonB:hover {
  background-color: #7160437c;

  scale: 105%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.139);
}

#buttonsLine {
  display: flex;
  justify-content: end;
  position: relative;
  /* right: 25pt;*/
  bottom: 10pt; 
  text-align: right;
}

/* Sections: Info */ 

#infoSpace {
  width: 100%;
  background-color: #6d151c;
  padding-top: 20px;
  padding-bottom: 30px;
}

#infoSpace div {
  font-family: "catamaran";
  font-weight: lighter;
  font-size:small;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

#infoSpace div h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

#containerInfo {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#item1 {width: 33%; text-align: left;}
#item2 {width: 33%;}
#item3 {width: 33%;}
#item3R {width: 33%; display: none;}

.infoColumn {
  width: 33%;
}

#logoSpace {
  margin: 20px;
}

.logoMain {
  display: flex;
  min-width: 50px;
  max-width: 150px;
  margin: auto;
}

#lineHR {
  background: #ffffff72;
  height: 1px;
  width: 80%;
  margin: auto;
}

/* Media Queries */

/* A22= width: 320px */

@media screen and (min-width: 1400px) {
  #meet p {font-size: 20px;}

  #meet h2 {margin-top: 0px;
    position: relative; 
    top: 10px;}
}

@media (min-width: 880px) and (max-width: 1400px){
  
  section {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  #silvana {
    display: none;
  }

  section {
    width: 80%;
    margin: auto;
  }

  #linkPinterest {justify-content: flex-start;}
}

@media screen and (min-width: 761px) {
  p {
   font-size: 24px;
  }

  .socialLink {
    justify-content: center;
  }
}

@media screen and (max-width: 760px) {
  section {
    width: 80%;
    margin: auto;
  }

  #meet h2 {font-size: 30px;}

  #meet p {
    text-align: left;
    letter-spacing: 1pt;
    line-height: 20pt;
  }
  
}

@media screen and (max-width: 500px) {

  .socialLink p {
    font-size: 10px;
    align-items: left;
  }

  .icon {
    width: 15px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 431px) {
  #linkLinkedinR {display: none;}
  #linkFacebookR {display: none;}
}

@media screen and (max-width: 430px) {

  .socialLink p {
    display: none;
  }

  .socialLink {
    padding: 12px;
    width: 15px;

    border-radius: 250px;
  }

  #containerInfo .infoColumn h2 {
    font-size: 14px;
  }

  #item3 {display: none;}
  #item3R {display: block;}

  /* ======================== */

  #linkFacebook {display: none;}
  #linkYT {display: none;}
  #linkLinkedin {display: none;}
}
