@font-face {
  font-family: Catamaran;
  src: local(Catamaran), url('../fonts/Catamaran.ttf');
}

@font-face {
  font-family: Lora;
  src: local(Lora), url('../fonts/Lora.ttf');
}

@font-face {
  font-family: Delinda Agatha;
  src: url('../fonts/Delinda-Agatha.eot');
  src: url('../fonts/Delinda-Agatha.ttf');
  src: url('../fonts/Delinda-Agatha.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Delinda;
  src: url('../fonts/Delinda-Agatha.ttf');
  src: url('../fonts/Delinda-Agatha.eot');
  src: url('../fonts/Delinda-Agatha.woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Charm&family=Dancing+Script:wght@400;500;600;700&family=Montserrat&display=swap');

.bg-muccini {
  background-color: #6D151C;
  /* background-image: linear-gradient(to bottom,
      red,
      white); */
}

body {
  overflow-x: hidden;
  background-color: #c1b196;
  background: url("../img/bg/bg-menudigital-700.png") center center;
  background-size: cover;
  height: 100vh;
}

/*: === Navbar =============================================== */

nav #brand a {
  font-family: Delinda, Delinda Agatha, Catamaran, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav #logoName {
  position: relative;
  top: 4px;
}

.navbar-toggler {
  color: #fff !important;
  /* background-color: #fff !important; */
}

.navbar-toggler-icon {
  filter: brightness(20%);
  filter: invert(100%);
}

ul li {
  margin: 0px 10px 0px 10px;
}

ul li a {
  text-indent: 8px;
  border-radius: 5px;
  padding-right: 20px !important;
  /* width: 110px; */
}

ul li a:hover {
  background-color: #450e122d;
  /* width: 110px; */
  padding-right: 20px !important;
}

.here {
  background-color: #450e1271;
  padding: 5px 20px 5px 5px;
  /* width: 110px; */
  cursor: default;
  padding-right: 15px;
}

.here:hover {
  background-color: #450e1271;
}

.navbar-nav-scroll {
  max-height: 50vh !important;
  overflow-y: visible !important;
}

.navbar-toggler:focus {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.navbar-collapse {
  flex-basis: 100%;
  /* flex-grow: 1;
   */
  justify-content: space-between;
}

.search {
  color: #ffffff2c;
}

.search:hover {
  background: #ffffff14;
}

.search:active {
  background-color: #ffffff38;
}

form button.btn:hover {
  color: #ffffff38 !important;
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

form button.btn-outline-light {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #5a0913e1;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #5a0913e1;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.accordion ::after {
  filter: brightness(0%);
}

/* .search:focus {background-color:#ffffff46;} */

.round {
  border-radius: 15px;
}

.al-center {
  display: flex;
  gap: 10px;
  align-items: center;
}

[type=search], [type=search]:active {
  box-shadow: 0px 0px 0px none !important;
}

/* .menuDigital {

}

.menuDigital:hover {

} */

/*: === Info Family =============================================== */

#start {
  width: 100%;
  height: 250px;
  background-image: url('../img/bg/bg-start.-red-1000.png');
  background-size: cover;
  background-position: center;
  transition: 0.9s;
  backdrop-filter: brightness(20%);
  /* filter: brightness(55%); */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#start button {
  z-index: 1024;
  border-radius: 0px !important;
}

.fn {
  filter: none;
  filter: contrast(100%);
}

#start #textMeet p, #start #textMeet h1 {
  filter: drop-shadow(2px 2px 3px rgb(0, 0, 0));
}

#start h1 {
  font-family: 'Charm', 'Arial';
}


/*: === Info Family =============================================== */

.bg-muc {
  background-color: #ab92674a !important;
}

.accordion {
  border: 0px transparent !important;
  --bs-accordion-border-color: none !important;
  --bs-accordion-active-color: none !important;
  --bs-accordion-btn-focus-border-color: none !important;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.15rem rgba(128, 15, 7, 0.411) !important;
}

.accordion button {
  font-weight: 500;
  color: #000 !important;
}

button .bg-muc {
  border-radius: 15px;
}

#infoFamily {
  display: flex;
  border-radius: 15px;

  padding: 10px 25px 0px 25px;

  overflow: hidden;
}

#silvana {
  position: relative;
  top: 4.5vh;
  max-width: 300px;
  max-height: 500px;
  height: 100%;
  scale: 120%;

  transition: 0.3s;
  filter: drop-shadow(1px 1px 3px #00000053);
}

@media screen and (max-width: 992px) {
  #silvana {
    scale: 120%;
    right: 10%
  }

  #start {
    height: 200px;
  }
}

#silvanaBox {
  display: flex;
  align-items: end;
  justify-content: center;
  max-height: 300px;
  max-width: 30%;
}

#meet {
  transition: 0.3s;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  text-align: center;
}

#meet h2 {
  text-align: left;
  font-weight: 600;
  font-family: 'Dancing Script', 'Charm', "Catamaran", sans-serif, Arial;
  margin-top: 10px;
}

.button {
  font-size: 12pt;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-family: sans-serif;

  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  scale: 105%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.139);
}

.button:active {
  filter: brightness(60%);
  scale: 90%;
}

.A {
  color: #fff !important;
  background-color: #6d151c !important;
  margin-left: 10px;
}

.B {
  color: #450e12 !important;
  font-weight: 500 !important;
  background-color: #ab92671e;
  border: 2px solid #450e12 !important;
  transition: 0.3s !important;
}

.B:active {
  background-color: #ab92673e;
}

.R {
  color: #fff;
  background-color: #6d151c;
  border-radius: 5px;
}

#buttonsLine {
  display: flex;
  justify-content: end;
  position: relative;
  /* right: 25pt;*/
  bottom: 10pt;
  text-align: right;
}

/*: === Social Links ============================================ */

.socialLink {
  background-color: tomato;
  border-radius: 6px;
  padding: 5px;
  color: #fff;
  /* word-wrap: nowrap; */

  display: flex;
  align-items: center;
  transition: 0.3s;
  align-items: center;
  gap: 10px;
  justify-content: center;

  cursor: pointer;
  overflow: hidden;

  padding-top: 10px;
  padding-bottom: 10px;
}

.socialLink p {

  margin-bottom: 0px;

}

.socialLink:hover {
  scale: 108%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.139);
}

.socialLink:active {
  scale: 90%;
  filter: grayscale(60%);
}

.instagram {
  background-image: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
}

.whatsApp {
  background-color: #11BB19;
}

.pinterest {
  background-color: #af021c;
}

.facebook {
  background-color: #1E4297;
}

.linkedin {
  background-color: #0A66C2;
}

.yt {
  background-color: #c40000;
}

.icon {
  width: 20px;
}


@media (min-width: 513px) {

  .socialLink {
    align-items: center;

    flex-wrap: nowrap;
    max-height: 40px;
  }

  #socialLinks div a {
    width: 28%;
    text-decoration: none;
  }

}

@media (max-width: 512px) {

  .socialLink {
    display: flex;
    padding: 12px;
    /* width: 30px; */
    height: 50px;

    border-radius: 250px;
  }

  .socialLink p {
    display: none;
  }

  .socialLink img {
    margin-left: 5px;
  }

  .socialLinks2 {
    justify-content: space-around !important;
    width: 100%;
  }

  #containerInfo .infoColumn h2 {
    font-size: 14px;
  }

  #item3 {
    display: none;
  }

  #item3R {
    display: block;
  }

  #linkFacebook {
    display: none;
  }

  #linkYT {
    display: none;
  }

  #linkLinkedin {
    display: none;
  }

  .icon {
    margin: 0px
  }

}

/* === Dúvidas =========================================== */

#questions p {
  font-weight: 400 !important;
  margin-bottom: 0px;
}

h3 {
  font-size: 1.17em !important;
}

h2 {
  font-size: 1.6em !important;
}

#questions h2 {
  text-align: center;
}

/*: === Info Space ======================================= */

#info {
  width: 100%;
  background-color: #6d151c;
  padding-top: 20px;
  padding-bottom: 30px;
}

#info div {
  font-family: 'Catamaran', 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: small;
  color: #fff;
  text-align: center;
}

#info div h4 {
  text-align: center;
  margin-bottom: 10px;
}

#containerInfo {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.SA {
  justify-content: space-around !important;
}

#item1 {
  width: 33%;
  text-align: left;
}

.item {
  width: 33%;
}

.infoColumn {
  width: 33%;
}

#logoSpace {
  margin: 40px;
}

.logoMain {
  display: flex;
  width: 150px;
  max-width: 25%;
  margin: auto;
}

.lineHR {
  background: #ffffff72;
  height: 1px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* === Footer =============================================== */

footer, footer a, footer p {
  text-decoration: none;
  cursor: pointer;
  color: #ffffffc7;
  transition: 0.3s;
}

footer a:hover {
  color: #fff;
}

@media screen and (max-width:512px) {

  Footer, footer a, footer p {
    font-size: 12px;
  }
}

.modal div {
  background-image: url(bg-menudigital-700.png);
  border-radius: 15px;
}

.modal-header {
  border-bottom: #450e12 !important;

}

.modal-footer {
  border-top: #450e12 !important;
}

/* Food */

#food {
  padding: 20px 10px 20px 10px;
  border-radius: 15px;
}

#food h2 {
  margin-bottom: 20px;
}

.flex-line {
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.flex-line div {
  height: 250px;
  background-color: tomato;
  overflow: hidden;
  overflow: hidden;
}

.flex-line div div {
  background-size: cover;
  background-position: center center;

}

.slide:hover {
  scale: 120%;
  transition: .3s ease-in .5s;
}

#item1 .slide {
  background-image: url(../img/slide1-01.jpg);
}

#item2 .slide {
  background-image: url(../img/slide1-02.jpg);
}

#item3 .slide {
  background-image: url(../img/slide1-03.jpg);
}

.flex-line #item3 {
  border-radius: 0px 15px 15px 0px;
}

.flex-line #item1 {
  border-radius: 15px 0px 0px 15px;
}

@media screen and (max-width: 515px) {

  /* .flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-line .item {
    max-width: 50%
  } */

  #food {
    display: none;
  }
}