/* Error: Undefined variable.
 *     ,
 * 142 |       values: $utilities-border-colors
 *     |               ^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   node_modules\bootstrap\scss\_utilities.scss 142:15  @import
 *   src\_import.scss 12:9                               @import
 *   src\style.scss 1:9                                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 142 \2502        values: $utilities-border-colors\a     \2502                ^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   node_modules\\bootstrap\\scss\\_utilities.scss 142:15  @import\a   src\\_import.scss 12:9                               @import\a   src\\style.scss 1:9                                  root stylesheet";
}
