/* 

DDT VULCAN 1.0.0 - @romhenri

1. Declarations.
2. Tags Default.
3. Buttons.
4. Text.
5. Design Details.
    5.1 Largura e Altura.
    5.2 Colors.
    5.3 Flex.
    5.4 Padding.
    5.5 Margin.
    5.6 Border Radius.
    5.7 Filter.
6. Media Queries.

*/

/* === 1. Declarations ============================================ */

:root {
    --c1: #ed213a;
    --c2: #93291e;
    --c3: #5e141d;
    --bg: #1e1e1e;
    --bgs: #252526;
    --bgc: #303030e9;
    --bgc2: #f0f8ff80;
    --white: #ffffff;
    --black: #000000;
    --shadow: #00000018;
    --alfa: #00000000;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/css/fonts/Montserrat-Regular.ttf');
    format:('truetype')
}

/* === 2. Tags Default ============================================ */

/* === Buttons ============================================ */

.button {
    font-family: Montserrat; padding: 8px;
    color:  var(--white); font-size: 12px;
    border-radius: 5px;
    border: 0px; cursor: pointer; transition: 0.3s;
}

.button:hover {
    filter: brightness(80%);
} .button:active {
    filter: brightness(50%); scale: 90%;
}

/* === 4. Textos ============================================ */

/* === 5. Design Details Pack ============================================ */

/* === 5.1 Largura e Altura ============================================ */

.w0 {width: 0px} .w1 {width: 1px} .w2 {width: 2px}
.w3 {width: 3px} .w4 {width: 4px} .w5 {width: 5px}
.w6 {width: 6px} .w7 {width: 7px} .w8 {width: 8px}
.w9 {width: 9px} .w10 {width: 10px} .w11 {width: 11px}
.w12 {width: 12px} .w13 {width: 13px} .w14 {width: 14px}
.w15 {width: 15px} .w20 {width: 20px} .w30 {width: 30px}
.w40 {width: 40px} .w50 {width: 50px} .w60 {width: 60px}
.w70 {width: 70px} .w80 {width: 80px} .w90 {width: 90px}
.w100 {width: 100px} .w110 {width: 110px} .w120 {width: 120px}
.w130 {width: 130px} .w140 {width: 140px} .w150 {width: 150px}
.w160 {width: 160px} .w170 {width: 170px} .w180 {width: 180px}


/* === 5.2 Colors ============================================ */

.c {background-image: linear-gradient(155deg,var(--c1),var(--c2)); color: #ffffff}
.c1 {background-color: var(--c1); color: #ffffff}
.c2 {background-color: var(--c2); color: #ffffff}
.c3 {background-color: var(--c3); color: #ffffff}
.bgc {background-color: var(--bgc); color: #ffffff}
.bgc2 {background-color: var(--bgc2); color: #ffffff}
.alfa {background-color: var(--alfa); text-decoration: solid;
box-shadow: 0px 0px 0px var(--alfa);}

/* === 5.3 Flex ============================================ */

.flex {display: flex; flex-direction: row; align-items: center}
.flex-row {display: flex; flex-direction: row; align-items: center}
.flex-column {display: flex; flex-direction: column; align-items: center}
.spc-evenly { justify-content: space-evenly}
.spc-between {justify-content: space-between}
.spc-around {justify-content: space-around}
.spc-center {justify-content: center}
.g0 {gap: 0px}.g1 {gap: 1px}
.g2 {gap: 2px}.g3 {gap: 3px}
.g4 {gap: 4px}.g5 {gap: 5px}
.g6 {gap: 6px}.g7 {gap: 7px}
.g8 {gap: 8px}.g9 {gap: 9px}
.g10 {gap: 10px}.g11 {gap: 11px}
.g12 {gap: 12px}.g13 {gap: 13px}
.g15 {gap: 15px}.g20 {gap: 20px}
.g25 {gap: 25px}.g30 {gap: 30px}
.g35 {gap: 35px}.g40 {gap: 40px}
.g45 {gap: 45px}.g50 {gap: 50px}

/* === 5.4 Padding ============================================ */

.p0 {padding: 0px}.p1 {padding: 1px}
.p2 {padding: 2px}.p3 {padding: 3px}
.p4 {padding: 4px}.p5 {padding: 5px}
.p6 {padding: 6px}.p7 {padding: 7px}
.p8 {padding: 8px}.p9 {padding: 9px}
.p10 {padding: 10px}.p11 {padding: 11px}
.p12 {padding: 12px}.p13 {padding: 13px}
.p15 {padding: 15px}.p20 {padding: 20px}
.p25 {padding: 25px}.p30 {padding: 30px}
.p35 {padding: 35px}.p40 {padding: 40px}
.p45 {padding: 45px}.p50 {padding: 50px}

/* === 5.5 Margin ============================================ */

.m0 {margin: 0px}.m1 {margin: 1px}
.m2 {margin: 2px}.m3 {margin: 3px}
.m4 {margin: 4px}.m5 {margin: 5px}
.m6 {margin: 6px}.m7 {margin: 7px}
.m8 {margin: 8px}.m9 {margin: 9px}
.m10 {margin: 10px}.m11 {margin: 11px}
.m12 {margin: 12px}.m13 {margin: 13px}
.m15 {margin: 15px}.m20 {margin: 20px}
.m25 {margin: 25px}.m30 {margin: 30px}
.m35 {margin: 35px}.m40 {margin: 40px}
.m45 {margin: 45px}.m50 {margin: 50px}

.m5-row {margin: 0px 10px 0px 10px}.m10-row {margin: 0px 10px 0px 10px}
.m15-row {margin: 0px 15px 0px 15px}.m20-row {margin: 0px 20px 0px 20px}
.m25-row {margin: 0px 25px 0px 25px}.m30-row {margin: 0px 30px 0px 30px}
.m35-row {margin: 0px 35px 0px 35px}.m40-row {margin: 0px 40px 0px 40px}
.m45-row {margin: 0px 45px 0px 45px}.m50-row {margin: 0px 50px 0px 50px}

.m5-column{margin:10px 0px 10px 0px}.m10-column{margin:10px 0px 10px 0px}
.m15-column{margin:15px 0px 15px 0px}.m20-column{margin:20px 0px 20px 0px}
.m25-column{margin:25px 0px 25px 0px}.m30-column{margin:30px 0px 30px 0px}
.m35-column{margin:35px 0px 35px 0px}.m40-column{margin:40px 0px 40px 0px}
.m45-column{margin:45px 0px 45px 0px}.m50-column{margin:50px 0px 50px 0px}

/* === 5.6 border Radius ============================================ */

.round {border-radius: 15px} .circle {border-radius: 999px} .tip {border-radius: 0px;}
.tip-l {border-radius: 5px;}

/* === 5.7 Filter ============================================ */

.invert {filter: invert(100%)} .shadow {filter: drop-shadow(3px 3px 10px var(--shadow))} 
.blur {filter: blur(3px)} .blur1 {filter: blur(1px)}
.blur2 {filter: blur(2px)} .blur3 {filter: blur(3px)}
.blur4 {filter: blur(4px)} .blur5 {filter: blur(5px)}
.blur10 {filter: blur(10px)} .blur20 {filter: blur(20px)}
